@import './base.css';

* {
  list-style: none;
  margin: 0;
  padding: 0;
}


#app {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  /* min-height: 100vh; */
  height: 100vh;
  font-weight: normal;
  overflow-y: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}